.header ul {
    /* margin-left: 50%; */
    height: 115px;
    list-style: none;
}
.header ul li{
    /* overflow:hidden; 解决高度设置无效的问题 */
    float:left;
    height:115px;
    margin-right:4px;
    line-height: 115px;
    font-size: 0.8rem;
    padding-left: 2rem;
}
.header ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #535353;
    height: 100%;
    display: flex;
    text-align: center;
}
.header ul li a:hover{
    color:#e54c2a;
}