html{
    font-size: 20px;
}
*{
    margin: 0;
    padding: 0;
}
.con-body{
    height: 50rem;
}
.container-fluid{
    width: 100%;
    margin: 0;
    padding: 0;
}
.main_img{
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.form-control{
    padding-top: 24px;
    padding-bottom: 24px;
}
.search-icon{
    height: 50px;
    width: 50%;
    border-left: transparent;
}
.list-info ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
}
.list-info ul li{
    height:115px;
    margin-right:4px;
    line-height: 115px;
    font-size: 0.8rem;
    padding-left: 2rem;
}

.list-info ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #535353;
    height: 100%;
    display: flex;
    text-align: center;
}
.list-info ul li a:hover{
    color:#e54c2a;
}
.nav{

    display: flex;
    padding-left: 15px;
    justify-content:space-around;
}
.nav img{
    vertical-align: middle;
    margin-bottom: -23px;
    margin-right: 150px;
}
.test{
    padding-top: 30px;
    display: none;
    margin-left: 0;
}

.row{
    padding: 0;
    margin: 0;
}
.sub-title{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu{
    display: inline-block;
}
.header-right{
    float: right;
}
#p2{
    height: 200px!important;
    width: 130px;
    position: absolute;
    left: -20px;
    top: 100px;
    z-index: 1000;
    background-color: #fff;
    font-size: 16px;
    border-radius: 3%;
    display: none;
}
#p2 ul li{
    margin-top: 10%;
}
#p2 ul li a{
    text-decoration: none;
    color: #535353;
}
#p2 ul li a:hover{
    text-decoration: none;
    color: #e54c2a;
}

ul{
    list-style: none;
}

.footer{
    width: 100%;
    height: auto;
    background-color: #e54c2a;
}
.footer{
    font-size: 13px;
    height: 7%;
    color: #fff;
}
.footer .row{
    height: 100%;
}
.footer p{
    margin: 0;
}
.show-btn{
    display: none;
    margin-top: 20px;
}
.card{
    border: none;
}
.card-header{
    padding: 0;
    border: none;
    background: none;
}
.address{
    position: absolute;
    z-index: 10000;
    top: 28%;
    width: 730px;
    left: 32%;
}
.container{
    width: 100%;
}
.inner-address{
    height: 550px;
    /* border: 1px solid #000; */
}
.detail-btn div a{
    background: #fff;  
    box-sizing: border-box;
    color: #333;
}
.new-list-btn{
    width: 96px;
    background: #fff url("../img/small_img/order-list.png") no-repeat 10px 6px / 15px 18px!important;
    padding-left: 30px;
    box-sizing: border-box;
}
.fr{
    float: right;
}
.form-control {

    width: 72%!important;

}
.search-btn{
    background-color: #e54c2a;
    border-radius: 0;
    height: 48px;
    color: #fff;
    width: 107px;
    text-align: center;
    line-height: 2.5;    
}
.main_img>img{
    width: 100%;
}
.search-form div{
    cursor: pointer;
}
.search-form input{
    font-size: 16px;
}
.select-btn{
    width: 96px!important;
    height: 48px;
    /* border: 1px solid #000; */
    float: left;
    background-color: #fff;
}
.down-icon{
    content: '';
    border: 5px solid transparent;
    border-width: 4px 5px;
    border-top-color: #999;
}
.address-detail{
    width: 100%;
    height: 435px;
    /* position: relative; */
    background-color: #fff;
    overflow: auto;
    display: none;
}
.up-icon{
    width: 10px;
    border: 10px solid transparent;
    border: 9px 10px;
    border-bottom-color: #fff;
    position: absolute;
    top: 95px;
    left: 40px;
}
.city{
    width: 40%;
    border-radius: 5%;
    /* height: 100%; */
}
.input-city{
    border-radius: 0!important;
    width: 50%!important;
}
.up-icon+div{
    border-bottom: 1px solid #ddd;
}

.city-list{
    width: 99%;
    /* float: left; */
    padding-left: 12%;
}
.city-list li{
    float: left;
    width: 84px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 1%;
    margin-right: 0.1%;
}

.city-detail div span{
    float: left;
    padding-left: 4.5%;
}
