<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/icon/iconfont.css">
    <link rel="stylesheet" href="css/order.css">
    <link href="css/jquery.city.css" rel="stylesheet" />
    <link href="css/animate.min.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <iframe src="./header.html" frameborder="0" scrolling="no" class="frame-div" onload="this.height=100"></iframe>
        <div class="container">
            <section>
                <div v-if="orderInfo[0]">
                    <p></p>
                    <p>{{orderInfo[0].shop_name}}</p>
                    <p> 确认购买</p>
                </div>
                <div>
                    <div>
                        <ul v-if="orderInfo[0]">
                            <li>
                                <span>
                                    订单详情
                                </span>
                                <span>
                                    <a href="javascript:;">
                                        返回商家修改
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span>
                                    菜品
                                </span>
                                <span>
                                    份数/价格
                                </span>
                            </li>
                            <li class="food" v-if="orderInfo" v-for="obj in orderInfo">
                                <span>
                                    {{obj.name}}
                                </span>
                                <span>
                                    ￥{{obj.un_price}}*{{obj.number}}
                                </span>
                            </li>
                            <li>
                                <span>包装费</span>
                                <span>￥2</span>
                            </li>
                            <li>
                                <span>配送费</span>
                                <span>￥{{orderInfo[0].deliver_fee}}</span>
                            </li>
                            <li>
                                <span>￥
                                    <span data-total="">{{getTotal()}}</span>
                                </span>
                            </li>
                        </ul>
                        <div></div>
                    </div>
                    <div data-right="">
                        <h2 data-target="#modal" data-toggle="my-modal">
                            收货地址
                            <a href="javascript:;" @click="show_address">
                                添加新地址
                            </a>
                        </h2>
                        <div class="add-address" data-add-address="" v-if="!address[0]">
                            <i>+</i>
                            <span @click="show_address">
                                添加新地址
                            </span>
                        </div>
                        <div>
                            <div data-address-list="" :class="{showFirst:isShowAdderss}">
                                <div v-if="address" class="add-address has-address" :class="" v-for="obj in address"
                                    @click.stop="checkAddress($event, obj.id)">
                                    <i class="iconfont">&#xe64d;</i>
                                    <span>
                                        <span>
                                            {{obj.receiver}} {{obj.gender | changeGender}} {{obj.phone}}
                                        </span>
                                        <span>
                                            {{obj.address}}
                                        </span>
                                    </span>
                                    <div>
                                        <i class="iconfont">&#xebe6;</i>
                                    </div>
                                </div>
                            </div>
                            <div @click="changeShow">
                                <p v-if="showFitst">
                                    显示更多地址
                                    <i class="iconfont">&#xeb6d;</i>
                                </p>
                                <p v-if="!showFitst">
                                    收起
                                    <i class="iconfont">&#xeb6e;</i>
                                </p>
                            </div>
                        </div>
                        <div>
                            <h2>
                                付款方式
                                <span>
                                    推荐使用在线支付，不用找零，优惠更多
                                </span>
                            </h2>
                            <div class="pay_method">
                                <p>在线支付</p>
                                <p>支持微信、支付宝、QQ钱包及大部分银行卡</p>
                                <div class="tabs">
                                    <i class="iconfont">&#xebe6;</i>
                                </div>
                            </div>
                        </div>
                        <div class="another-info">
                            <h2>
                                其他信息
                            </h2>
                            <div>
                                <span>送达时间</span>
                                <p @click='toggleTime'>
                                    <span v-if="typeof(deliver_time)=='number'">
                                        {{new Date(deliver_time).getHours()}}:{{new Date(deliver_time).getMinutes()}}
                                    </span>
                                    <span v-if="typeof(deliver_time)=='string'">
                                        {{deliver_time}}
                                    </span>
                                    <i class="iconfont">&#xeb6d;</i>
                                </p>
                                <div class="time" v-show="show_time" @mouseleave="timeLeave">
                                    <ul>
                                        <li @click="chooseTime('立即送达')">立即送达</li>
                                        <li v-for="i in 5" @click="chooseTime(time+(i+1)*900000)">
                                            {{new Date(time+(i+1)*900000).getHours()}}:{{new Date(time+(i+1)*900000).getMinutes()}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <span>订单备注</span>
                                <input type="text" name="order_descript" id="order_descript" v-model="order_descript">
                            </div>
                            <div>
                                <span>餐具份数</span>
                                <i class="iconfont">&#xe601;</i>
                                <p @click='toggleDish'>
                                    <span v-if="dish_count=='0'">
                                        无需餐具
                                    </span>
                                    <span v-else>
                                        {{dish_count}}
                                    </span>
                                    <i class="iconfont">&#xeb6d;</i>
                                </p>
                                <div data-cover='' v-show="show_dish" >
                                    <ul @mouseleave="dishLeave">
                                        <li @click="chooseDish(0)">
                                            <i class="iconfont">&#xe601;</i>
                                            无需餐具
                                        </li>
                                        <li v-for="i in 6" @click="chooseDish(i+'份')">{{i}}份</li>
                                    </ul>
                                </div>
                            </div>
                            <button @click="confirm_order">确认下单</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <iframe src="./footer.html" frameborder="0" scrolling="no" class="frame-div" onload="this.height=100"></iframe>
        <div class="modal-bg"></div>
        <aside id="modal">
            <h2>添加新地址</h2>
            <div>
                <label>姓名</label>
                <input type="text" name="" id="uname" placeholder="请输入您的姓名" v-model="receiver">
            </div>
            <div>
                <label>性别</label>
                <input type="radio" name="gender" value="1" v-model="gender"><span>先生</span>
                <input type="radio" name="gender" value="0" v-model="gender"><span>女士</span>
            </div>
            <div data-address="">
                <label>位置</label>
                <input type="text" name="" id="txt_city" placeholder="请输入小区、大厦或者学校">
            </div>
            <div>
                <label>详细地址</label>
                <input type="text" name="" id="detail_address" placeholder="单元、门牌号" v-model="datail_address">
            </div>
            <div>
                <label>手机号</label>
                <input type="text" name="" id="user_phone" placeholder="请输入您的手机号" v-model="phone">
            </div>
            <div>
                <button @click="getAddre">保存</button>
                <span data-cancal="" @click="cancel">取消</span>
            </div>
        </aside>
    </div>
    <script src="js/frame.js"></script>
    <script src="js/jquery.city.js"></script>
    <script src="js/vue.js"></script>
    <script>
        Vue.filter('changeGender', function (value) {
            return value ? '先生' : '女士';
        })
        new Vue({
            el: '#app',
            data: {
                sid: '',
                user: '',
                orderInfo: [],
                address: [],
                receiver: '',
                datail_address: '',
                phone: '',
                address_id: '',
                gender: '',
                showFitst: true,
                isShowAdderss: true,
                order_descript: '',
                deliver_time:'立即送达',
                time: new Date().getTime(),
                dish_count:'无需餐具',
                show_time: false,
                show_dish: false,
            },
            mounted() {
                this.getCity();
                this.setSidUser();
                this.load_orderInfo();
                this.load_adderss();
            },
            watch: {
                address_id: function () {
                },
                show_time: function(){
                },
                address: function(){
                    console.log('addressAdd')
                }
            },
            methods: {
                toggleTime: function(){
                    this.show_time = !this.show_time
                },
                toggleDish: function(){
                    this.show_dish = !this.show_dish
                },
                chooseTime:function(time){
                    console.log(time)
                    if (time == '立即送达') {
                        this.deliver_time = new Date().getTime();
                    } else {
                        this.deliver_time = time;                
                    }
                },
                chooseDish:function(i){
                    this.dish_count = i;
                },
                timeEnter:function(){
                    this.show_time = true;
                },
                timeLeave: function(){
                    this.show_time = false;
                },
                dishEnter:function(){
                    this.show_dish = true;
                },
                dishLeave:function(){
                    this.show_dish = false;
                },
                confirm_order: function () {
                    var _self = this;
                    $.ajax({
                        url:'/user/save_Order',
                        type: 'post',
                        data:{
                            u_phone: this.user,
                            shop_id: this.sid,
                            addr_id: this.address_id,
                            order_time: this.deliver_time,
                            message: this.order_descript,
                            dish_count: this.dish_count,
                            price:this.getTotal()
                        },
                        dataType: 'json'
                    }).then(function(data){
                        // console.log(data[0].id);
                        if (data) {
                            location.href = `${location.origin}/pay.html?sid=${_self.sid}&user=${_self.user}&address=${_self.address_id}&total=${_self.getTotal()}&order_id=${data[0].id}`;
                        } else {
                            alert('诶呀，服务器出了点小问题！')
                        }
                    })
       
                },
                checkAddress: function (e, id) {
                    if (e.target.nodeName == 'DIV') {
                        this.address_id = id;
                        $('div[data-address-list]>div').each(function () {
                            $(this).removeClass('is-choose-address')
                        })
                        $('div[data-address-list]>div>div').each(function () {
                            $(this).removeClass('tabs')
                        })
                        $(e.target).addClass('is-choose-address')
                        $(e.target).children('div').addClass('tabs')
                    }
                },
                changeShow: function () {
                    this.showFitst = !this.showFitst;
                    this.isShowAdderss = !this.isShowAdderss;
                },
                getCity: function () {
                    $('#txt_city').jcity({
                        urlOrData: 'js/citydata.json',
                        animate: { showClass: 'animated flipInX', hideClass: 'animated flipOutX' },
                        onChoice: function (data) {
                            console.log(data);
                        }
                    });
                },
                setSidUser: function () {
                    var urlParams = new URLSearchParams(location.search);
                    this.sid = urlParams.get('sid');
                    this.user = urlParams.get('user');
                },
                load_orderInfo: function () {
                    var _self = this;
                    $.ajax({
                        url: '/user/getOrderInfo',
                        type: 'post',
                        data: {
                            sid: this.sid,
                            user: this.user
                        },
                        dataType: 'json'
                    }).then(function (data) {
                        _self.orderInfo = data;
                        console.log(data);
                    })
                },
                getTotal: function () {
                    var sum = 0;
                    for (const key in this.orderInfo) {
                        if (this.orderInfo.hasOwnProperty(key)) {
                            const element = this.orderInfo[key];
                            sum += parseInt(element.number) * parseFloat(element.un_price);
                        }
                    }
                    return sum.toFixed(2);
                },
                show_address: function () {
                    $('#modal').show();
                    $('.modal-bg').show();
                },
                cancel: function () {
                    $('#modal').hide();
                    $('.modal-bg').hide();
                },
                load_adderss: function () {
                    var _self = this;
                    $.ajax({
                        url: '/user/valiAddress',
                        type: 'get',
                        data: {
                            user: this.user
                        },
                        dataType: 'json'
                    }).then((data) => {
                        if (data.code != 400) {
                            _self.address = data;
                        }
                    })
                },
                saveAddress: function () {
                    $('#modal').hide();
                    $('.modal-bg').hide();
                },
                getAddre: function (e) {
                    var addr = txt_city.value.replace(/\s*/ig, '').split('-');
                    var _self = this;
                    $.ajax({
                        url: '/user/save_address',
                        type: 'post',
                        data: {
                            u_phone: this.user,
                            receiver: this.receiver,
                            province: addr[0],
                            city: addr[1],
                            country: addr[2],
                            address: this.datail_address,
                            phone: this.phone,
                            gender: this.gender
                        },
                        dataType: 'json'
                    }).then(function (data) {
                        console.log(data);
                        $('#modal').hide();
                        $('.modal-bg').hide();
                        _self.load_adderss();
                    })
                }
            },
        })
    </script>
</body>

</html>