<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/icon/iconfont.css">
    <link href="css/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/pay.css">
</head>

<body>
    <div class="container-fluid" id="app">
        <header>
            <div class="logo"><a href="index.html"><img src="img/logo.png" alt=""></a></div>
            <div>收银台</div>
        </header>
        <section class="container">
            <div data-order="" v-if="pay_info[0]">
                <h3>
                    订单详情
                </h3>
                <hr>
                <div data-order-info="">
                    <p>
                        {{pay_info[0].shop_name}}（外卖订单）
                    </p>
                    <p>
                        支付金额
                        <span>
                            ￥{{total}}
                        </span>
                    </p>
                </div>
                <div data-small="" v-if="pay_info">
                    <span>
                        {{pay_info[0].receiver}} ({{pay_info[0].phone | changeGender}}) {{pay_info[0].phone}}
                        {{pay_info[0].address}} - <span v-for="obj in pay_info">{{obj.name}}*{{obj.number}}-</span>
                    </span>
                    <span @click="show_detail">查看详情</span>
                    <i class="iconfont">&#xeb6d;</i>
                </div>
                <div data-big="" v-if="pay_info[0]">
                    <p>{{pay_info[0].receiver}} {{pay_info[0].phone}}</p>
                    <p>{{pay_info[0].address}}</p>
                    <p>-</p>
                    <ul>
                        <li v-for="obj in pay_info">
                            {{obj.name}}*{{obj.number}}
                        </li>
                    </ul>
                    <span @click="hide_detail">收起详情</span>
                    <i class="iconfont">&#xeb6e;</i>
                </div>
            </div>
            <div data-pay="">
                <p>
                    <span>请选择支付方式</span>
                    <span>剩余支付时间<i>15分00秒</i>，逾期订单将自动取消</span>
                </p>
                <hr>
                <div>
                    <p>
                        第三方支付
                        <span>
                            ￥{{total}}
                        </span>
                    </p>
                    <div>
                        <div class="active">
                            <i class="iconfont">&#xe647;</i>
                            <span>支付宝</span>
                        </div>
                        <div>
                            <i class="iconfont">&#xe634;</i>
                            <span>微信支付</span>
                        </div>
                    </div>
                </div>
                <hr>
                <button>确认支付</button>
            </div>
        </section>
    </div>
    <script src="js/vue.js"></script>
    <script>
        Vue.filter('changeGender', function (value) {
            return value == '1' ? '先生' : '女士';
        });
        new Vue({
            el: '#app',
            data: {
                sid: '',
                user: '',
                total: '',
                pay_info: [],
                add_id: ''
            },
            mounted() {
                this.getOrderPage();
                this.getPayInfo();
                this.time();
                this.changeOrder();
            },
            methods: {
                time() {
                    var time_count = 900;
                    var timer = setInterval(() => {
                        time_count--;
                        $('div[data-pay]>p>span>i').html(`${parseInt(time_count / 60)}分${time_count % 60}秒`)
                    }, 1000)

                    setTimeout(() => {
                        clearTimeout(timer)
                    }, 900000)
                },
                show_detail() {
                    $('div[data-small]').hide();
                    $('div[data-big]').show();
                },
                hide_detail() {
                    $('div[data-small]').show();
                    $('div[data-big]').hide();
                },
                getOrderPage() {
                    var urlParam = new URLSearchParams(location.search);
                    this.sid = urlParam.get('sid');
                    this.user = urlParam.get('user');
                    this.total = urlParam.get('total');
                    this.add_id = urlParam.get('address');
                },
                getPayInfo() {
                    var _self = this;
                    $.ajax({
                        url: '/user/load_Order',
                        data: {
                            sid: this.sid,
                            user: this.user,
                            add_id: this.add_id
                        },
                        type: 'post',
                        dataType: 'json'
                    }).then((data) => {
                        console.log(data);
                        _self.pay_info = data;
                    })

                },
                changeOrder() {
                    $.ajax({
                        url: '/user/change_order',
                        type: 'get',
                        dataType: 'json',
                        data:{
                            u_phone: this.user,
                            sid: this.sid
                        }
                    }).then((data) => {
                        console.log(data)
                    })
                }
            },
        })
    </script>
    <script>
        $(function () {
            $('div[data-pay]>div>div>div').click(function (e) {
                if (e.target.nodeName == 'DIV') {
                    $(this).addClass('active').siblings('div').removeClass('active');
                }
            })
        })
    </script>
</body>

</html>